@font-face {
    font-family: "montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "proximanova";
    src: url(../fonts/Fontspring-DEMO-proximanova-regular.otf);
}

$font1: raleway, sans-serif;
$font2: montserrat, serif;
$font3: proximanova, sans-serif;
$white1: rgb(231, 230, 230);
$black1: rgb(19, 19, 19);
$grey1: rgb(90, 90, 90);
$color1: rgb(0, 165, 88);
$color2: rgb(252, 221, 226);

@mixin title{
    font-family: $font1;
    letter-spacing: 2px;
    font-weight: 300;
    color: $grey1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a, 
a:visited {
    color: $white1;
}
body {
    text-align: center;
    font-family: $font1;
    max-width: 1300px;
    margin: 0 auto;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $black1;
        animation: animBefore 1.5s ease forwards;
        animation-delay: 0.15s;

        @keyframes animBefore {
            to {
                opacity: 0;
            }
        }

    }
}
button {
    background: none;
    border: 2px solid $white1;
    color: $white1;
    padding: 10px 30px;
    border-radius: 50px;
    font-family: $font3;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}