.section8 {
    padding: 30px 100px;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 770px) {
        grid-template-columns: 1fr;
    }

    .contenu-section {
        text-align: left;

        h2 {
            @include title;
            margin: 50px 0;
        }

        .btn-section {
            background: $color1;
            border: transparent;
            color: white;
            margin: 70px 0;
        }
    }

    #imgImprovise3 {
        transform: translateX(100%);
        opacity: 0;
        transition: 1.5s ease;
    }
}

.separateur-fin {
    background: url(../images/Try\ our\ template.jpg) center/cover;
    height: 450px;
    color: $white1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-family: $font1;
        font-weight: 200;
        font-size: 2.0rem;

        span {
            font-weight: 600;
            letter-spacing: 1px;
        }
    }

    .btn-section {
        background: $color1;
        border: transparent;
        color: white;
        margin: 60px 0 0px;
    }
}

.pop-up {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    height: 250px;
    width: 520px;
    text-align: center;
    background: linear-gradient(90deg, #30587a, $color1);
    border-radius: 76% 24% 90% 10% / 20% 85% 15% 80%;
    box-shadow: 0 5px 10px black;
    opacity: 0;
    transform: translateX(400px);
    transition: 1s ease-out;
  }

  .pop-up-container {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);

    .fa-times-circle {
        position: absolute;
        left: 2rem;
        top: 0.7rem;
        font-size: 1.7rem;
        color: white;
        text-shadow: 2px 2px 0px #333;
        cursor: pointer;
        transition: 0.3s;
      }
      .fa-times-circle:hover {
        color: rgb(211, 242, 251);
        transform: translateX(-1px);
      }
      .fa-times-circle:active {
        transform: scale(1.5);
      }

        input {
        border: 1px solid #333;
        padding: 1rem 2rem;
        border-radius: 15px;
        box-shadow: 1px 2px 0 black;
        outline: none;
        font-size: 1.2rem;
        transition: 0.5s;

        & :focus {
            background: rgb(211, 242, 251);
          }
      }
      
      button {
        border-radius: 15px;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        border: 1px solid #333;
        outline: none;
        cursor: pointer;
        background: white;
        box-shadow: 1px 2px 0 black;
        transition: 0.3s;
        color: $black1;

        & :hover {
            background: rgb(211, 242, 251);
            transform: translateX(-1px);
        }

        & :active {
            transform: scale(0.85);
        }
      }

    h3 {
        color: white;
        margin: 1rem;
        font-size: 1.5rem;
      }

  }
  

.fin {
    height: 225px;
    padding: 30px 100px;
    display: flex;
    justify-content: start;
    align-items: center;

    i {
        margin: 10px;
        color: $color1;
    }
}

