header {
    min-height: 100vh;
    color: $white1;
    // padding: 30px 100px;
    background: url(../images/BACKGROUD.jpg) center/cover no-repeat;
    

    #navbar {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        // margin: 0 auto;
        z-index: 100;
        top: 0;
        position: fixed;
        transition: 0.5s;
        

        h3 {
            font-weight: 400;
            font-family: $font2;
            font-size: 1.6rem;
            letter-spacing: 1px;
            cursor: pointer;
            span {
                font-size: 2.0rem;
                color: $color1;
            }

            @media screen and (max-width: 950px) {
                font-size: 1rem;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 950px) {
                justify-content: space-around;
            }

            @media screen and (max-width: 770px) {
                display: none;
            }

            

            li {
                display: flex;
                align-items: center;
                padding: 0 0 0 50px;
                text-transform: uppercase;
                font-family: $font3;
                font-weight: 800;
                font-size: 0.8rem;
                cursor: pointer;
                

                @media screen and (max-width: 950px) {
                    font-size: 0.6rem;
                }
                a {   
                    transition: 0.5s ;
                }
                a:hover {
                    color: $color1;
                    transform: scale(1.5);
                }
                
            }
        }
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 650px;
        opacity: 0;
        transform: translateY(40px);
        animation: headerAnim 1.5s forwards;

        @keyframes headerAnim {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        
        .header-text {
            position: relative;

            h1 {
                font-size: 2.5rem;
                font-weight: 100;
                margin: 10px 0 20px;
                span {
                    font-weight: 600;
                }
            }
            h6 {
                font-size: 1.0rem;
                font-family: $font2;
                font-weight: 300;
                margin-bottom: 50px;
            }
            button {
                margin-bottom: 50px;
            }
            a {
                position: absolute;
                bottom: -50px;
                

                i {
                    font-size: 2.5rem;
                    color: rgba(255, 255, 255, 0.301);
                    transition: 0.5s ;

                    &:hover {
                        color: white;
                    }
                }
            }
        }

    }
}